<div class="body-container">
    <div class="container mt-5">
        <div class="game-item row mb-4" *ngIf="$games | async as games; else loading">
            <div class="item selfie col-lg-3 col-md-4 col-6 col-sm" *ngFor="let game of games">
                <app-games-game [game]="game" [currentCategory]="currentCategory"></app-games-game>
            </div>
        </div>
        <ng-template #loading>
            <div class="loader-spinner">
                <svg viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <circle class="load one" cx="60" cy="60" r="20" pathLength="1" />
                  <circle class="load two" cx="60" cy="60" r="10" />
                  <circle class="load three" cx="60" cy="60" r="30" pathLength="1" />
                </svg>
              </div>
        </ng-template>
    </div>
</div>